.project-page {
  background-color: #1a191f;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  .project-width {
    width: 80%;
    height: 100vh;

    h1 {
      color: white;
      font-size: 3rem;
      margin-top: 6rem;
      width: fit-content;

      span {
        color: #cdcbf5;
        font-family: "Roboto Mono", monospace;
      }
    }

    .project-grid {
      display: grid;
      column-gap: 5%;
      row-gap: 5%;
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    .project-item {
      height: 100%;

      .project {
        background-color: #cdcbf5;
        height: 90%;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          cursor: pointer;
        }

        &:hover > .bug-tracker,
        &:hover > .chat-app {
          transform: scale(1.1);
        }
      }
      .bug-tracker {
        transition: all 0.5s ease;
        height: 80%;
        width: 85%;
        background-image: url(src/assets/bug-tracker-img.png);
        background-size: cover;
      }

      .login {
        transition: all 0.5s ease;
        margin-left: 40%;
        height: 80%;
        width: 85%;
        background-image: url(src/assets/login.png);
        background-size: contain;
        background-repeat: no-repeat;
      }

      .subtitle {
        display: flex;
        align-items: center;
        width: 35%;

        h3 {
          color: white;
          margin-right: 0.5rem;
        }

        .box {
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}
